.player {
  position: relative;
  background: #7a419b;
  min-height: 100vh;
  background: linear-gradient(135deg, #7c1599 0%, #921099 48%, #7e4ae8 100%);
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    &:-webkit-full-screen {
      video {
        width: 100vw;
        height: 100vh;
      }
      &:hover {
        .player__controls {
          transform: translateY(100%) translateY(-7px);
          &:hover {
            transform: translateY(0);
          }
        }
      }
    }
    &:-moz-full-screen {
      video {
        width: 100vw;
        height: 100vh;
      }
      &:hover {
        .player__controls {
          transform: translateY(100%) translateY(-7px);
          &:hover {
            transform: translateY(0);
          }
        }
      }
    }
    &:hover {
      .player__controls {
        transform: translateY(0);
      }
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    background-color: #010101;
  }
  &__text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 140%; /* fallback for 2vh */
    font-size: 2.2vh;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 0 7px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
  }
  &__controls {
    height: 30px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%) translateY(-7px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.9);
    z-index: 2147483647;
  }
}
video::-webkit-media-controls-enclosure {
   display: none !important;
 }
video::-webkit-media-controls-overlay-enclosure {
  display: none !important;
}
