.controls{
  & > span {
    color: tomato;
    flex: 4;
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
  }
  & > button {
    flex: 1;
    color: tomato;
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
  & > input {
    flex: 2;
  }
  &__progress {
    color: tomato;
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
    &--filled {
      width: 50%;
      background: rgba(255,0,0,0.5);
      flex: 0;
      flex-basis: 0.5%;
    }
  }
  &__volume {
    outline: none;
  }
}
